# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:

# Order List
1. R programming
2. Python
3. Julia

# Some of the commonly used libraries used by Data Scientists include:

# Order List
1. Panda
2. Numpy
3. Matplotlib

# Data Science Tools

|Data Science Tools|
|------------------|
|1. Anaconda       |
|2. Watson studio  |
|3. Google colab   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
* R programming
* Python
* Julia

## Author
Abdulkerim